In [245]:
import pandas as pd
import numpy as np

In [25]:
mjgross = pd.read_csv('D:/Flatiron/Project/Zips/bom.movie_gross.csv/bom.movie_gross.csv')
imdbname = pd.read_csv('D:/Flatiron/Project/Zips/imdb.name.basics.csv/name.basics.csv')
imdbtitle = pd.read_csv('D:/Flatiron/Project/Zips/imdb.title.akas.csv/title.akas.csv')
imdbtitle2 = pd.read_csv('D:/Flatiron/Project/Zips/imdb.title.basics.csv/title.basics.csv')
imdbcrew = pd.read_csv('D:/Flatiron/Project/Zips/imdb.title.crew.csv/title.crew.csv')
imdbprinc = pd.read_csv('D:/Flatiron/Project/Zips/imdb.title.principals.csv/title.principals.csv')
imdbrate = pd.read_csv('D:/Flatiron/Project/Zips/imdb.title.ratings.csv/title.ratings.csv')
rtinfo = pd.read_csv('D:/Flatiron/Project/Zips/rt.movie_info.tsv/rt.movie_info.tsv', delimiter='\t')
rtreviews = pd.read_csv('D:/Flatiron/Project/Zips/rt.reviews.tsv/rt.reviews.tsv', sep=None)
tmdbmovies = pd.read_csv('D:/Flatiron/Project/Zips/tmdb.movies.csv/tmdb.movies.csv')
tnbudgets = pd.read_csv('D:/Flatiron/Project/Zips/tn.movie_budgets.csv/tn.movie_budgets.csv')

In [26]:
# joined imdbcrew and imdbtitle2
imdbcrewtitle2 = imdbtitle2.join(imdbcrew.set_index('tconst'), on='tconst')

In [27]:
#Editing, dropping mostly empty or useless columns
imdbname.drop(['birth_year','death_year'], axis=1, inplace=True)
imdbtitle.drop(['attributes','language'], axis=1, inplace=True)
imdbprinc.drop(['job','characters'], axis=1, inplace=True)
rtinfo.drop(['synopsis','theater_date','dvd_date','studio','currency'], axis=1, inplace=True)

In [267]:
genre_dict = [{"id":28,"name":"Action"},{"id":12,"name":"Adventure"},{"id":16,"name":"Animation"},{"id":35,"name":"Comedy"},{"id":80,"name":"Crime"},{"id":99,"name":"Documentary"},{"id":18,"name":"Drama"},{"id":10751,"name":"Family"},{"id":14,"name":"Fantasy"},{"id":36,"name":"History"},{"id":27,"name":"Horror"},{"id":10402,"name":"Music"},{"id":9648,"name":"Mystery"},{"id":10749,"name":"Romance"},{"id":878,"name":"Science Fiction"},{"id":10770,"name":"TV Movie"},{"id":53,"name":"Thriller"},{"id":10752,"name":"War"},{"id":37,"name":"Western"}]
k = []
v = []
for i in range(len(genre_dict)):
    k.append(genre_dict[i]['id'])
    v.append(genre_dict[i]['name'])
gendic = dict(zip(k,v))
print(gendic)

{28: 'Action', 12: 'Adventure', 16: 'Animation', 35: 'Comedy', 80: 'Crime', 99: 'Documentary', 18: 'Drama', 10751: 'Family', 14: 'Fantasy', 36: 'History', 27: 'Horror', 10402: 'Music', 9648: 'Mystery', 10749: 'Romance', 878: 'Science Fiction', 10770: 'TV Movie', 53: 'Thriller', 10752: 'War', 37: 'Western'}

In [301]:
titles = tmdbmovies['title'].to_list() = tmdbmovies['']

SyntaxError: cannot assign to function call (<ipython-input-301-1291d5026b14>, line 1)

In [298]:
genresnp = np.zeros(shape=(26517, 19))
genre = pd.DataFrame(genresnp, columns = v)
genre = genre.applymap(lambda x: int(x))
genre['titles'] = titles
genre = genre.set_index('titles')
genre

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
titles,,,,,,,,,,,,,,,,,,,
Harry Potter and the Deathly Hallows: Part 1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
How to Train Your Dragon,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Iron Man 2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Toy Story,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Inception,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Laboratory Conditions,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
_EXHIBIT_84xxx_,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
The Last One,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Trailer Made,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
The Church,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [288]:
genre.dtypes

Action             float64
Adventure          float64
Animation          float64
Comedy             float64
Crime              float64
Documentary        float64
Drama              float64
Family             float64
Fantasy            float64
History            float64
Horror             float64
Music              float64
Mystery            float64
Romance            float64
Science Fiction    float64
TV Movie           float64
Thriller           float64
War                float64
Western            float64
titles              object
dtype: object

In [232]:
tmdbmovies['genre_ids']

0            [12, 14, 10751]
1        [14, 12, 16, 10751]
2              [12, 28, 878]
3            [16, 35, 10751]
4              [28, 878, 12]
                ...
26512               [27, 18]
26513               [18, 53]
26514           [14, 28, 12]
26515        [10751, 12, 28]
26516               [53, 27]
Name: genre_ids, Length: 26517, dtype: object

In [237]:
tmdbmovies

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
...,...,...,...,...,...,...,...,...,...,...
26512,26512,"[27, 18]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,26514,"[14, 28, 12]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1
26515,26515,"[10751, 12, 28]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1
26516,26516,"[53, 27]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1

In [29]:
#Just to have a handy reference point
print('\n mjgross \n'); print(len(mjgross)); print(mjgross.isna().sum())
print('\n imdbname \n'); print(len(imdbname)); print(imdbname.isna().sum())
print('\n imdbtitle \n'); print(len(imdbtitle)); print(imdbtitle.isna().sum())
print('\n imdbcrewtitle2 \n'); print(len(imdbcrewtitle2)); print(imdbcrewtitle2.isna().sum())
print('\n imdbprinc \n'); print(len(imdbprinc)); print(imdbprinc.isna().sum())
print('\n imdbrate \n'); print(len(imdbrate)); print(imdbrate.isna().sum())
print('\n rtinfo \n'); print(len(rtinfo)); print(rtinfo.isna().sum())
print('\n rtreviews \n'); print(len(rtreviews)); print(rtreviews.isna().sum())
print('\n tmdbmovies \n'); print(len(tmdbmovies)); print(tmdbmovies.isna().sum())
print('\n tnbudgets \n'); print(len(tnbudgets)); print(tnbudgets.isna().sum())

 mjgross

3387
title                0
studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64

 imdbname

606648
nconst                    0
primary_name              0
primary_profession    51340
known_for_titles      30204
dtype: int64

 imdbtitle

331703
title_id                  0
ordering                  0
title                     0
region                53293
types                163256
is_original_title        25
dtype: int64

 imdbcrewtitle2

146144
tconst                 0
primary_title          0
original_title        21
start_year             0
runtime_minutes    31739
genres              5408
directors           5727
writers            35883
dtype: int64

 imdbprinc

1028186
tconst      0
ordering    0
nconst      0
category    0
dtype: int64

 imdbrate

73856
tconst           0
averagerating    0
numvotes         0
dtype: int64

 rtinfo

1560
id               0
rating           3
genre            8
director       199
writer         449
box_office    1220
runtime         30
dtype: int64

 rtreviews

54432
id                0
review         5563
rating        13517
fresh             0
critic         2722
top_critic        0
publisher       309
date              0
dtype: int64

 tmdbmovies

26517
Unnamed: 0           0
genre_ids            0
id                   0
original_language    0
original_title       0
popularity           0
release_date         0
title                0
vote_average         0
vote_count           0
dtype: int64

 tnbudgets

5782
id                   0
release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
dtype: int64

In [22]:
studiogross = mjgross.set_index('studio')

mjgross.groupby('studio').domestic_gross.mean().sort_values(ascending=False).head(10)

studio
BV         1.737644e+08
P/DW       1.682900e+08
WB (NL)    8.879333e+07
Uni.       8.777138e+07
WB         8.691461e+07
Fox        8.051103e+07
Sony       7.761177e+07
Par.       7.609773e+07
MGM        6.666667e+07
Sum.       6.212473e+07
Name: domestic_gross, dtype: float64

In [ ]:
#in progress DON'T RUN
def splitmult(df, column):
    for i, item in enumerate(df[column]):
        each = item.split(sep=',')
        item = each[0]
        for e in range(1, len(each)):
            new_rows = {}
            new_rows.append(str(df.iloc[i].loc[column]) + ' : ' + )

In [ ]:
imdbname['primary_name'][1]

In [ ]:
imdbtitle

In [ ]:
imdbprincnametitle

In [ ]:
imdbcrewtitle2

In [51]:
imdbprincname = imdbprinc.merge(imdbname, on='nconst')

In [ ]:
imdbprincnametitleouter = imdbprincname.merge(imdbtitle, left_on='tconst', right_on='title_id',how='outer')

In [ ]:
imdball = imdbprincnametitleouter.merge(imdbcrewtitle2, on='tconst')
imdball

In [ ]:
imdball.category.unique()

In [ ]:
# idea: make dictionary, keys are nm#####s, values are names. use replace function
#dictionary to replace names
names = []
for n in imdbname['nconst']:
    names.append(n)
len(names)
real_names = []
for n in imdbname['primary_name']:
    real_names.append(n)
len(real_names)
name_dict = dict(zip(names, real_names))

In [ ]:
# def replcnm():
#     for i, item in enumerate(imdbprinc.loc[:,'nconst']):
#         if str(item) in names:
#             imdbprinc.replace(str(item), name_dict[str(item)])
        # try:
        #     imdbprinc.iloc[i].loc['nconst'].replace(item, name_dict[item])
        # except:
        #     continue

    #     if item not in names:
    #         continue
    #     if item in names:
    #         imdbprinc.replace(item, name_dict[item])
# newplc = imdbprinc.replace({'nconst': name_dict})
# newplc

In [ ]:
name_dict['nm0476864']

In [ ]:
len(name_dict)