In [29]:
#import needed modules
import pandas as pd
import numpy as np

In [30]:
#Livin' in csv city
mjgross = pd.read_csv('D:/Flatiron/Project/Zips/bom.movie_gross.csv/bom.movie_gross.csv')
imdbname = pd.read_csv('D:/Flatiron/Project/Zips/imdb.name.basics.csv/name.basics.csv')
imdbtitle = pd.read_csv('D:/Flatiron/Project/Zips/imdb.title.akas.csv/title.akas.csv')
imdbtitle2 = pd.read_csv('D:/Flatiron/Project/Zips/imdb.title.basics.csv/title.basics.csv')
imdbcrew = pd.read_csv('D:/Flatiron/Project/Zips/imdb.title.crew.csv/title.crew.csv')
imdbprinc = pd.read_csv('D:/Flatiron/Project/Zips/imdb.title.principals.csv/title.principals.csv')
imdbrate = pd.read_csv('D:/Flatiron/Project/Zips/imdb.title.ratings.csv/title.ratings.csv')
rtinfo = pd.read_csv('D:/Flatiron/Project/Zips/rt.movie_info.tsv/rt.movie_info.tsv', delimiter='\t')
rtreviews = pd.read_csv('D:/Flatiron/Project/Zips/rt.reviews.tsv/rt.reviews.tsv', sep=None)
tmdbmovies = pd.read_csv('D:/Flatiron/Project/Zips/tmdb.movies.csv/tmdb.movies.csv')
tnbudgets = pd.read_csv('D:/Flatiron/Project/Zips/tn.movie_budgets.csv/tn.movie_budgets.csv')

In [31]:
# joined imdbcrew and imdbtitle2
imdbcrewtitle2 = imdbtitle2.join(imdbcrew.set_index('tconst'), on='tconst')

In [32]:
#Editing, dropping mostly empty or useless columns
imdbname.drop(['birth_year','death_year'], axis=1, inplace=True)
imdbtitle.drop(['attributes','language'], axis=1, inplace=True)
imdbprinc.drop(['job','characters'], axis=1, inplace=True)
rtinfo.drop(['synopsis','theater_date','dvd_date','studio','currency'], axis=1, inplace=True)

In [33]:
#Make new dict of genres, cutting out fluff
genre_dict = [{"id":28,"name":"Action"},{"id":12,"name":"Adventure"},{"id":16,"name":"Animation"},{"id":35,"name":"Comedy"},{"id":80,"name":"Crime"},{"id":99,"name":"Documentary"},{"id":18,"name":"Drama"},{"id":10751,"name":"Family"},{"id":14,"name":"Fantasy"},{"id":36,"name":"History"},{"id":27,"name":"Horror"},{"id":10402,"name":"Music"},{"id":9648,"name":"Mystery"},{"id":10749,"name":"Romance"},{"id":878,"name":"Science Fiction"},{"id":10770,"name":"TV Movie"},{"id":53,"name":"Thriller"},{"id":10752,"name":"War"},{"id":37,"name":"Western"}]
k = []
v = []
for i in range(len(genre_dict)):
    k.append(genre_dict[i]['id'])
    v.append(genre_dict[i]['name'])
gendic = dict(zip(k,v))
print(gendic)

{28: 'Action', 12: 'Adventure', 16: 'Animation', 35: 'Comedy', 80: 'Crime', 99: 'Documentary', 18: 'Drama', 10751: 'Family', 14: 'Fantasy', 36: 'History', 27: 'Horror', 10402: 'Music', 9648: 'Mystery', 10749: 'Romance', 878: 'Science Fiction', 10770: 'TV Movie', 53: 'Thriller', 10752: 'War', 37: 'Western'}

In [34]:
#Make lists out of Series
titles = tmdbmovies['title'].to_list()
gennums = tmdbmovies['genre_ids'].to_list()

In [35]:
#Create empty DataFrame
genresnp = np.zeros(shape=(26517, 19))
genre = pd.DataFrame(genresnp, columns = v)
genre = genre.applymap(lambda x: int(x))
genre['titles'] = titles
genre = genre.set_index('titles')

In [36]:
#Make list of lists of ints out of list of strings of lists of ints. It was as hard as it is confusing.
gennums = [i.strip("[]").split(", ") for i in gennums] 
gennums = [[int(j) for j in i if j] for i in gennums]

In [37]:
#Use list of int genres as keys to produce names of genres in genre dictionary.
gennums = [[gendic[j] for j in i if j] for i in gennums]
gennums
n= -1
for i in gennums:
    n += 1
    for j in i:
        if j:
            genre.iloc[n].loc[j] += 1
genre

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
titles,,,,,,,,,,,,,,,,,,,
Harry Potter and the Deathly Hallows: Part 1,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0
How to Train Your Dragon,0,1,1,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0
Iron Man 2,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
Toy Story,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
Inception,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Laboratory Conditions,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0
_EXHIBIT_84xxx_,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0
The Last One,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
Trailer Made,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
The Church,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0

In [38]:
genre

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
titles,,,,,,,,,,,,,,,,,,,
Harry Potter and the Deathly Hallows: Part 1,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0
How to Train Your Dragon,0,1,1,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0
Iron Man 2,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
Toy Story,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
Inception,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Laboratory Conditions,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0
_EXHIBIT_84xxx_,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0
The Last One,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
Trailer Made,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
The Church,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0

In [ ]:
tmdbmovies

In [39]:
#Just to have a handy reference point
print('\n mjgross \n'); print(len(mjgross)); print(mjgross.isna().sum())
print('\n imdbname \n'); print(len(imdbname)); print(imdbname.isna().sum())
print('\n imdbtitle \n'); print(len(imdbtitle)); print(imdbtitle.isna().sum())
print('\n imdbcrewtitle2 \n'); print(len(imdbcrewtitle2)); print(imdbcrewtitle2.isna().sum())
print('\n imdbprinc \n'); print(len(imdbprinc)); print(imdbprinc.isna().sum())
print('\n imdbrate \n'); print(len(imdbrate)); print(imdbrate.isna().sum())
print('\n rtinfo \n'); print(len(rtinfo)); print(rtinfo.isna().sum())
print('\n rtreviews \n'); print(len(rtreviews)); print(rtreviews.isna().sum())
print('\n tmdbmovies \n'); print(len(tmdbmovies)); print(tmdbmovies.isna().sum())
print('\n tnbudgets \n'); print(len(tnbudgets)); print(tnbudgets.isna().sum())

 mjgross

3387
title                0
studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64

 imdbname

606648
nconst                    0
primary_name              0
primary_profession    51340
known_for_titles      30204
dtype: int64

 imdbtitle

331703
title_id                  0
ordering                  0
title                     0
region                53293
types                163256
is_original_title        25
dtype: int64

 imdbcrewtitle2

146144
tconst                 0
primary_title          0
original_title        21
start_year             0
runtime_minutes    31739
genres              5408
directors           5727
writers            35883
dtype: int64

 imdbprinc

1028186
tconst      0
ordering    0
nconst      0
category    0
dtype: int64

 imdbrate

73856
tconst           0
averagerating    0
numvotes         0
dtype: int64

 rtinfo

1560
id               0
rating           3
genre            8
director       199
writer         449
box_office    1220
runtime         30
dtype: int64

 rtreviews

54432
id                0
review         5563
rating        13517
fresh             0
critic         2722
top_critic        0
publisher       309
date              0
dtype: int64

 tmdbmovies

26517
Unnamed: 0           0
genre_ids            0
id                   0
original_language    0
original_title       0
popularity           0
release_date         0
title                0
vote_average         0
vote_count           0
dtype: int64

 tnbudgets

5782
id                   0
release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
dtype: int64

In [ ]:
#Group Box office numbers by studio
studiogross = mjgross.set_index('studio')
mjgross.groupby('studio').domestic_gross.mean().sort_values(ascending=False).head(10)

In [ ]:
top21 = ['Toy story',
 "Marvel's The Avengers",
 'The Dark Knight Rises',
 'The Hunger Games',
 'Frozen',
 'Iron Man 3',
 'The Hunger Games: Catching Fire',
 'Star Wars: The Force Awakens',
 'Jurassic World',
 'Avengers: Age of Ultron',
 'Captain America: Civil War',
 'Rogue One: A Star Wars Story',
 'Finding Dory',
 'Star Wars: The Last Jedi',
 'Beauty and the Beast',
 'Jumanji: Welcome to the Jungle',
 'Wonder Woman',
 'Avengers: Infinity War',
 'Black Panther',
 'Jurassic World: Fallen Kingdom',
 'Incredibles 2']

In [57]:
genre21 = genre[~genre.index.duplicated()]
genre21 = genre21.reindex(top21)

(21, 19)

In [46]:
moneybank = [415000000.0,
 623400000,
 448100000,
 408000000,
 400700000,
 409000000,
 424700000,
 936700000,
 652300000,
 459000000,
 408100000,
 532200000,
 486300000,
 620200000,
 504000000,
 404500000,
 412600000,
 678800000,
 700100000,
 417700000,
 608600000]

In [ ]:
genre21 = genre[~genre.index.duplicated()]
genre21 = genre21.reindex(top21)
genre21['domgross'] = moneybank
tnbudgets = tnbudgets.set_index('movie')
tnbudgets21 = tnbudgets[~tnbudgets.index.duplicated()]
tnbudgets21 = tnbudgets21.reindex(top21)
tnbudgets21.shape
budgets21 = list(tnbudgets21['production_budget'])
genre21['budget'] = budgets21
# genre21['return'] = genre21['return'] - (0.1 * df['Cost'])

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,...,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western,domgross,budget
titles,,,,,,,,,,,,,,,,,,,,,
Toy story,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,415000000.0,NaN
Marvel's The Avengers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,623400000.0,NaN
The Dark Knight Rises,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,448100000.0,"$275,000,000"
The Hunger Games,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,408000000.0,"$80,000,000"
Frozen,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,400700000.0,"$150,000,000"
Iron Man 3,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,409000000.0,"$200,000,000"
The Hunger Games: Catching Fire,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,424700000.0,"$130,000,000"
Star Wars: The Force Awakens,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,936700000.0,NaN
Jurassic World,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,652300000.0,"$215,000,000"
Avengers: Age of Ultron,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,459000000.0,"$330,600,000"
Captain America: Civil War,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,408100000.0,"$250,000,000"
Rogue One: A Star Wars Story,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,532200000.0,"$200,000,000"
Finding Dory,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,486300000.0,"$200,000,000"
Star Wars: The Last Jedi,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,620200000.0,NaN
Beauty and the Beast,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,504000000.0,"$160,000,000"
Jumanji: Welcome to the Jungle,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,404500000.0,"$90,000,000"
Wonder Woman,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,412600000.0,"$150,000,000"
Avengers: Infinity War,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,678800000.0,"$300,000,000"
Black Panther,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,700100000.0,"$200,000,000"
Jurassic World: Fallen Kingdom,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,417700000.0,"$170,000,000"
Incredibles 2,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,608600000.0,"$200,000,000"

,id,release_date,production_budget,domestic_gross,worldwide_gross
movie,,,,,
Avatar,1,"Dec 18, 2009","$425,000,000","$760,507,625","$2,776,345,279"
Pirates of the Caribbean: On Stranger Tides,2,"May 20, 2011","$410,600,000","$241,063,875","$1,045,663,875"
Dark Phoenix,3,"Jun 7, 2019","$350,000,000","$42,762,350","$149,762,350"
Avengers: Age of Ultron,4,"May 1, 2015","$330,600,000","$459,005,868","$1,403,013,963"
Star Wars Ep. VIII: The Last Jedi,5,"Dec 15, 2017","$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...
Red 11,78,"Dec 31, 2018","$7,000",$0,$0
Following,79,"Apr 2, 1999","$6,000","$48,482","$240,495"
Return to the Land of Wonders,80,"Jul 13, 2005","$5,000","$1,338","$1,338"
A Plague So Pleasant,81,"Sep 29, 2015","$1,400",$0,$0
My Date With Drew,82,"Aug 5, 2005","$1,100","$181,041","$181,041"

In [ ]:
imdball = imdbprincnametitleouter.merge(imdbcrewtitle2, on='tconst')
imdball

In [ ]:
imdbprincname = imdbprinc.merge(imdbname, on='nconst')

In [ ]:
imdbprincnametitleouter = imdbprincname.merge(imdbtitle, left_on='tconst', right_on='title_id',how='outer')