In [2]:
import pandas as pd

In [3]:
mjgross = pd.read_csv('D:/Flatiron/Project/Zips/bom.movie_gross.csv/bom.movie_gross.csv')
imdbname = pd.read_csv('D:/Flatiron/Project/Zips/imdb.name.basics.csv/name.basics.csv')
imdbtitle = pd.read_csv('D:/Flatiron/Project/Zips/imdb.title.akas.csv/title.akas.csv')
imdbtitle2 = pd.read_csv('D:/Flatiron/Project/Zips/imdb.title.basics.csv/title.basics.csv')
imdbcrew = pd.read_csv('D:/Flatiron/Project/Zips/imdb.title.crew.csv/title.crew.csv')
imdbprinc = pd.read_csv('D:/Flatiron/Project/Zips/imdb.title.principals.csv/title.principals.csv')
imdbrate = pd.read_csv('D:/Flatiron/Project/Zips/imdb.title.ratings.csv/title.ratings.csv')
rtinfo = pd.read_csv('D:/Flatiron/Project/Zips/rt.movie_info.tsv/rt.movie_info.tsv', delimiter='\t')
rtreviews = pd.read_csv('D:/Flatiron/Project/Zips/rt.reviews.tsv/rt.reviews.tsv', sep=None)
tmdbmovies = pd.read_csv('D:/Flatiron/Project/Zips/tmdb.movies.csv/tmdb.movies.csv')
tnbudgets = pd.read_csv('D:/Flatiron/Project/Zips/tn.movie_budgets.csv/tn.movie_budgets.csv')

In [4]:
# joined imdbcrew and imdbtitle2
imdbcrewtitle2 = imdbtitle2.join(imdbcrew.set_index('tconst'), on='tconst')

In [5]:
#Editing, dropping mostly empty or useless columns
imdbname.drop(['birth_year','death_year'], axis=1, inplace=True)
imdbtitle.drop(['attributes','language'], axis=1, inplace=True)
imdbprinc.drop(['job','characters'], axis=1, inplace=True)
rtinfo.drop(['synopsis','theater_date','dvd_date','studio','currency'], axis=1, inplace=True)

In [6]:
#Just to have a handy reference point
print('\n imdbname \n'); print(len(imdbname)); print(imdbname.isna().sum())
print('\n imdbtitle \n'); print(len(imdbtitle)); print(imdbtitle.isna().sum())
print('\n imdbcrewtitle2 \n'); print(len(imdbcrewtitle2)); print(imdbcrewtitle2.isna().sum())
print('\n imdbprinc \n'); print(len(imdbprinc)); print(imdbprinc.isna().sum())
print('\n imdbrate \n'); print(len(imdbrate)); print(imdbrate.isna().sum())
print('\n rtinfo \n'); print(len(rtinfo)); print(rtinfo.isna().sum())
print('\n rtreviews \n'); print(len(rtreviews)); print(rtreviews.isna().sum())
print('\n tmdbmovies \n'); print(len(tmdbmovies)); print(tmdbmovies.isna().sum())
print('\n tnbudgets \n'); print(len(tnbudgets)); print(tnbudgets.isna().sum())

 imdbname

606648
nconst                    0
primary_name              0
primary_profession    51340
known_for_titles      30204
dtype: int64

 imdbtitle

331703
title_id                  0
ordering                  0
title                     0
region                53293
types                163256
is_original_title        25
dtype: int64

 imdbcrewtitle2

146144
tconst                 0
primary_title          0
original_title        21
start_year             0
runtime_minutes    31739
genres              5408
directors           5727
writers            35883
dtype: int64

 imdbprinc

1028186
tconst      0
ordering    0
nconst      0
category    0
dtype: int64

 imdbrate

73856
tconst           0
averagerating    0
numvotes         0
dtype: int64

 rtinfo

1560
id               0
rating           3
genre            8
director       199
writer         449
box_office    1220
runtime         30
dtype: int64

 rtreviews

54432
id                0
review         5563
rating        13517
fresh             0
critic         2722
top_critic        0
publisher       309
date              0
dtype: int64

 tmdbmovies

26517
Unnamed: 0           0
genre_ids            0
id                   0
original_language    0
original_title       0
popularity           0
release_date         0
title                0
vote_average         0
vote_count           0
dtype: int64

 tnbudgets

5782
id                   0
release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
dtype: int64

In [ ]:
#in progress DON'T RUN
def splitmult(df, column):
    for i, item in enumerate(df[column]):
        each = item.split(sep=',')
        item = each[0]
        for e in range(1, len(each)):
            new_rows = {}
            new_rows.append(str(df.iloc[i].loc[column]) + ' : ' + )

In [14]:
        for e in each:
            new_rows = {}
            for i2 in range(len(df.columns)):
                new_rows.append(str(df.columns[i2]) + ' : ' + str(df.loc[column][i]))

6

In [25]:
imdbname['primary_name'][1]

'Joseph Bauer'

In [ ]:
for name in

In [33]:
imdbtitle

,title_id,ordering,title,region,types,is_original_title
0,tt0369610,10,Джурасик свят,BG,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,imdbDisplay,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,imdbDisplay,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,0.0
4,tt0369610,14,Jurassic World,FR,imdbDisplay,0.0
...,...,...,...,...,...,...
331698,tt9827784,2,Sayonara kuchibiru,NaN,original,1.0
331699,tt9827784,3,Farewell Song,XWW,imdbDisplay,0.0
331700,tt9880178,1,La atención,NaN,original,1.0
331701,tt9880178,2,La atención,ES,NaN,0.0
331702,tt9880178,3,The Attention,XWW,imdbDisplay,0.0

In [34]:
imdbprincnametitle

,tconst,ordering,nconst,category,primary_name,primary_profession,known_for_titles
0,tt0111414,1,nm0246005,actor,Tommy Dysart,actor,"tt0093120,tt0076974,tt0084296,tt0077064"
1,tt0111414,2,nm0398271,director,Frank Howson,"actor,writer,producer","tt0104271,tt0094789,tt0102076,tt0111414"
2,tt5573596,5,nm0398271,director,Frank Howson,"actor,writer,producer","tt0104271,tt0094789,tt0102076,tt0111414"
3,tt0111414,3,nm3739909,producer,Barry Porter-Robinson,"producer,art_department","tt0290884,tt0101374,tt0111414,tt1566940"
4,tt0323808,10,nm0059247,editor,Sean Barton,"editor,editorial_department,assistant_director","tt0402910,tt1022883,tt0086190,tt0490181"
...,...,...,...,...,...,...,...
1027907,tt9689618,3,nm10439724,actor,Phillippe Warner,NaN,NaN
1027908,tt9689618,5,nm10439725,director,Xavi Herrero,"director,writer,cinematographer",tt9689618
1027909,tt9692684,3,nm10441594,director,Guy Jones,director,NaN
1027910,tt9692684,4,nm6009913,writer,Sabrina Mahfouz,writer,"tt5191128,tt3254170,tt2319282,tt8452302"
1027911,tt9692684,5,nm10441595,producer,Simmer Dim,producer,tt9692684

In [39]:
imdbcrewtitle2

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,directors,writers
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",nm0002411,NaN
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,nm0000080,"nm0000080,nm0462648"
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",nm0611531,nm0347899
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy","nm0765384,nm0749914","nm1360635,nm0749914"
...,...,...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama,nm8185151,"nm4843252,nm4900525,nm2679404"
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary,"nm9272490,nm9272491","nm9272490,nm9272491"
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy,nm7764440,nm7933903
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN,nm10538612,nm10538612
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490"

In [30]:
imdbprincname = imdbprinc.merge(imdbname, on='nconst')

In [37]:
imdbprincnametitleouter = imdbprincname.merge(imdbtitle, left_on='tconst', right_on='title_id',how='outer')

In [45]:
imdball = imdbprincnametitleouter.merge(imdbcrewtitle2, on='tconst')
imdball

,tconst,ordering_x,nconst,category,primary_name,primary_profession,known_for_titles,title_id,ordering_y,title,region,types,is_original_title,primary_title,original_title,start_year,runtime_minutes,genres,directors,writers
0,tt0111414,1.0,nm0246005,actor,Tommy Dysart,actor,"tt0093120,tt0076974,tt0084296,tt0077064",tt0111414,1.0,A Thin Life,AU,NaN,0.0,A Thin Life,A Thin Life,2018,75.0,Comedy,nm0398271,nm0398271
1,tt0111414,2.0,nm0398271,director,Frank Howson,"actor,writer,producer","tt0104271,tt0094789,tt0102076,tt0111414",tt0111414,1.0,A Thin Life,AU,NaN,0.0,A Thin Life,A Thin Life,2018,75.0,Comedy,nm0398271,nm0398271
2,tt0111414,3.0,nm3739909,producer,Barry Porter-Robinson,"producer,art_department","tt0290884,tt0101374,tt0111414,tt1566940",tt0111414,1.0,A Thin Life,AU,NaN,0.0,A Thin Life,A Thin Life,2018,75.0,Comedy,nm0398271,nm0398271
3,tt5573596,5.0,nm0398271,director,Frank Howson,"actor,writer,producer","tt0104271,tt0094789,tt0102076,tt0111414",tt5573596,1.0,Remembering Nigel,AU,NaN,0.0,Remembering Nigel,Remembering Nigel,2015,NaN,Comedy,nm0398271,nm0398271
4,tt5573596,4.0,nm0000476,actress,Sally Kirkland,"actress,producer,miscellaneous","tt0315327,tt0092569,tt3216866,tt0102138",tt5573596,1.0,Remembering Nigel,AU,NaN,0.0,Remembering Nigel,Remembering Nigel,2015,NaN,Comedy,nm0398271,nm0398271
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2972478,tt9679036,2.0,nm10435077,actor,Hardi Zala,actor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"A Girl, a Boy, a Penny and a Very, Very, Very ...","A Girl, a Boy, a Penny and a Very, Very, Very ...",2019,75.0,"Comedy,Drama",nm9728620,nm9728620
2972479,tt9679036,3.0,nm7751067,actress,Jacqueline Godbout,"actress,director,writer","tt8521054,tt9679036,tt8141472",NaN,NaN,NaN,NaN,NaN,NaN,"A Girl, a Boy, a Penny and a Very, Very, Very ...","A Girl, a Boy, a Penny and a Very, Very, Very ...",2019,75.0,"Comedy,Drama",nm9728620,nm9728620
2972480,tt9679036,4.0,nm10435078,actress,Luanne M. Ashe,actress,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"A Girl, a Boy, a Penny and a Very, Very, Very ...","A Girl, a Boy, a Penny and a Very, Very, Very ...",2019,75.0,"Comedy,Drama",nm9728620,nm9728620
2972481,tt9679036,5.0,nm9728620,director,Julia Beney,"production_manager,director,writer","tt4777160,tt9269288,tt7512582,tt9679036",NaN,NaN,NaN,NaN,NaN,NaN,"A Girl, a Boy, a Penny and a Very, Very, Very ...","A Girl, a Boy, a Penny and a Very, Very, Very ...",2019,75.0,"Comedy,Drama",nm9728620,nm9728620
2972482,tt9679036,6.0,nm8336361,composer,Georgina Hay,"composer,music_department","tt2328900,tt4537896,tt5478478,tt5311542",NaN,NaN,NaN,NaN,NaN,NaN,"A Girl, a Boy, a Penny and a Very, Very, Very ...","A Girl, a Boy, a Penny and a Very, Very, Very ...",2019,75.0,"Comedy,Drama",nm9728620,nm9728620

In [44]:
imdball.category.unique()

array(['actor', 'director', 'producer', 'actress', 'editor', 'composer',
       'cinematographer', 'writer', 'production_designer', 'self',
       'archive_footage', 'archive_sound'], dtype=object)

In [8]:
# idea: make dictionary, keys are nm#####s, values are names. use replace function
#dictionary to replace names
names = []
for n in imdbname['nconst']:
    names.append(n)
len(names)
real_names = []
for n in imdbname['primary_name']:
    real_names.append(n)
len(real_names)
name_dict = dict(zip(names, real_names))

In [18]:
# def replcnm():
#     for i, item in enumerate(imdbprinc.loc[:,'nconst']):
#         if str(item) in names:
#             imdbprinc.replace(str(item), name_dict[str(item)])
        # try:
        #     imdbprinc.iloc[i].loc['nconst'].replace(item, name_dict[item])
        # except:
        #     continue

    #     if item not in names:
    #         continue
    #     if item in names:
    #         imdbprinc.replace(item, name_dict[item])
# newplc = imdbprinc.replace({'nconst': name_dict})
# newplc

KeyboardInterrupt:

KeyboardInterrupt:

In [22]:
name_dict['nm0476864']

KeyError: 'nm0476864'

tconst      object
ordering     int64
nconst      object
category    object
dtype: object

In [16]:
len(name_dict)

606648